
@media(max-width:1720px)  {
  .linkstitle{
    padding-top: 30px;
  }
}
@media(max-width:960px)  {
  .contacttitle{
      padding-top: 30px;
  }
  .linkstitle{
    padding-top: 15px;
  }
}
@media(max-width:680px)  {
  .mytitle{
    font-size: ;
  }
}
